
@import "bootstrap";

.navbar-toggleable-md .navbar-collapse {
    width: auto;
}
body{
  padding-top: 50px;

}

html,body{height:100%;}

.container-fluid {
    height:100%;
}
a, a:hover, a:visited{
  color: #FF3B80;
  text-decoration: none;
}
.button-login{
  padding-bottom: 10px;
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
  border: 0;
  background-color: rgb(13, 156, 103);
  color: rgb(233, 233, 233);
  border-radius: 2px;
  text-transform: uppercase;
}
